.aircraft {
  position: relative;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 30px;
  color: #F2F2F2;
  background-color: #4F4F4F;
}

.aircraft__subtitle {
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 56px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  
  a {
    text-decoration: underline;
    
    &:hover,
    &:active {
      text-decoration: none;
    }
  }
}

.aircraft__slider {
  margin-bottom: 26px;
}

.aircraft__slide {
  width: 208px;
  height: auto;
  color: #4F4F4F;
  box-sizing: border-box;
  border-radius: 13px;
  overflow: hidden;
}

.aircraft__link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.aircraft__header {
  height: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  background-color: #FFC925;
}

.aircraft__title {
  max-width: 100%;
  margin: 0;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
}

.aircraft__img {
  position: relative;
  width: 100%;
  height: 126px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  
  img {
    display: block;
    flex: 0 0 auto;
    max-height: 95%;
  }
  
  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 214px;
    height: 6px;
    background-image: url(../img/icons/card-points-slider.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.aircraft__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-size: 11px;
  line-height: 13px;
  background: #F3F3F3;
  
  p {
    margin-top: 0;
  }
}

.aircraft__text {
  margin-bottom: 15px;
}

.aircraft__price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: auto;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
}

.aircraft__scroll {
  display: none;
}

//----------------------------------------
@media (min-width: 768px) {
  .aircraft__subtitle {
    max-width: 100%;
  }
  
  .aircraft__slide {
    width: 264px;
  }
  
  .aircraft__header {
    height: 51px;
  }
  
  .aircraft__title {
    font-size: 16px;
    line-height: 19px;
  }
  
  .aircraft__img {
    height: 156px;
    
    &::after {
      width: 264px;
      background-image: url(../img/icons/card-points.svg);
    }
  }
  
  .aircraft__info {
    padding: 18px;
    font-size: 14px;
    line-height: 16px;
  }
  
  .aircraft__price {
    font-size: 16px;
    line-height: 19px;
  }
  
  .aircraft__slider {
    margin-bottom: 40px;
  }
  
  .aircraft__scroll {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 71px;
    height: 35px;
    background-image: url(../img/icons/mouse-side.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
