.benefits {
  position: relative;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $yellow;
  
  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #838383;
    clip-path: polygon(
      0 100%,
      100% 0,
      100% 100%,
      0 100%,
    );
  }
}

.benefits__title {
  margin-top: 0;
  margin-bottom: 45px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.benefits__list {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  list-style: none;
}

.benefits__item {
  margin-bottom: 35px;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  
  span {
    display: block;
    font-size: 14px;
    line-height: 16px;
  }
  
  &:last-child {
    margin-bottom: 0;
  }
}

.benefits__img {
  position: relative;
  z-index: 5;
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

//----------------------------------------
@media (min-width: 768px) {
  .benefits {
    padding-bottom: 160px;
  }
  
  .benefits__info {
    width: 42%;
    margin-left: auto;
  }
  
  .benefits__img {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 500px;
    overflow: hidden;
    
    img {
      margin-left: -30px;
    }
  }
  
  .benefits::after {
    height: 100px;
    clip-path: polygon(
      0 0,
      100% 100%,
      100% 100%,
      0 100%,
    );
  }
  
  .benefits__title {
    font-size: 25px;
    line-height: 29px;
  }
}

//----------------------------------------
@media (min-width: 1200px) {
  .benefits__info {
    width: 49%;
  }
  
  .benefits__item {
    font-size: 20px;
    line-height: 23px;
    
    span {
      font-size: 15px;
      line-height: 18px;
    }
  }
  
  .benefits__img {
    right: 50%;
    left: auto;
    width: auto;
  }
}
