.footer {
  position: relative;
  z-index: 2;
  padding-top: 30px;
  padding-bottom: 5px;
  color: #E5E5E5;
  background-color: #353535;
  
  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: 99.95%;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #353535;
    clip-path: polygon(
      0 100%,
      100% 0,
      100% 100%,
      0 100%,
    );
  }
  
  .menu__sublist {
    padding-left: 10px;
  }
  
  address {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
  }
}

.footer__top {
  position: relative;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 15px;
}

.footer__block {
  width: 48%;
  
  a:hover,
  a:active {
    text-decoration: underline;
  }
}

.footer__bottom {
  color: #838383;
  font-weight: 400;
  font-size: 7px;
  line-height: 8px;
  text-align: center;
}

.footer__link {
  display: block;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  
  &:hover,
  &:active {
    text-decoration: underline;
  }
}

//----------------------------------------
@media (min-width: 768px) {
  .footer {
    padding-top: 35px;
  }
  
  .footer__link,
  .footer address {
    font-size: 12px;
    line-height: 14px;
  }
  
  .footer__block {
    width: 23%;
  }
  
  .footer__bottom {
    padding-bottom: 20px;
    font-size: 8px;
    line-height: 9px;
  }
  
  .footer::after {
    height: 70px;
  }
  
  .footer__top {
    padding-bottom: 10px;
  }
}

//----------------------------------------
@media (min-width: 1200px) {
  .footer__link,
  .footer address {
    font-size: 15px;
    line-height: 18px;
  }
  
  .footer__bottom {
    font-size: 10px;
    line-height: 12px;
  }
}
