.header {
  position: relative;
  height: 70px;
  background-color: #000;
  background-image: linear-gradient(to bottom, #000, #252525);
}

.header__wrap {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 120px;
  padding: 0 20px;
}

.header__logo {
  color: #fff;
  
  img {
    display: none;
  }
  
  b {
    display: block;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
  }
  
  strong {
    display: block;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
  }
}

//----------------------------------------
@media (min-width: 768px) {
  .header {
    height: auto;
    background-image: none;
  }
  
  .header__logo {
    display: flex;
    align-items: flex-start;
    
    img {
      display: block;
      width: 164px;
      height: auto;
    }
    
    b {
      font-size: 30px;
      line-height: 35px;
    }
    
    strong {
      font-size: 11px;
      line-height: 13px;
    }
  }
  
  .header__text {
    padding-top: 12px;
    margin-left: -25px;
  }
  
  .header__wrap {
    top: 30px;
    left: 0;
    padding: 0;
  }
}

//----------------------------------------
@media (min-width: 1200px) {
  .header__logo {
    img {
      height: 215px;
      width: auto;
    }
    
    b {
      margin-right: 15px;
      font-size: 50px;
      line-height: 59px;
    }
    
    strong {
      font-size: 20px;
      line-height: 23px;
    }
  }
  
  .header__text {
    display: flex;
    align-items: center;
    margin-left: -90px;
  }
}
