.menu {
  position: fixed;
  z-index: 1000;
  top: 50px;
  right: 0;
  width: 350px;
  max-width: 100%;
  color: #fff;
  border-radius: 22px 0 0 22px;
  background-color: rgba(79, 79, 79, 0.95);
  transition: ease-out 0.3s;
  
  &--scroll {
    top: 5px !important;
    transition: ease-out 0.3s;
  }
}

.menu__body {
  display: none;
  max-height: calc(100vh - 100px);
  overflow-y: scroll;
  padding: 25px 38px;
}

.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.menu__phone {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #FFC925;
  transition: ease-out 0.3s;
  
  &:hover,
  &:active {
    color: #fff;
    transition: ease-out 0.3s;
  }
}

.menu__open {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #FFC925;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  border: 2px solid #FFC925;
  border-radius: 7px;
  transition: ease-out 0.3s;
  
  &--hide {
    opacity: 0;
    pointer-events: none;
  }
  
  i {
    display: block;
  }
  
  &:hover,
  &:active {
    color: #fff;
    border-color: #fff;
    transition: ease-out 0.3s;
  }
}

.menu__close {
  display: block;
  width: 26px;
  height: 26px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  border: 1px solid #fff;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  
  i {
    display: block;
    line-height: 22px;
  }
  
  &--visible {
    opacity: 1;
    pointer-events: all;
  }
  
  &:hover,
  &:active {
    color: $yellow;
    border-color: $yellow;
    transition: ease-out 0.3s;
  }
}

.menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu__item {
  address {
    display: block;
    padding-left: 25px;
    font-size: 11px;
    line-height: 13px;
    color: #E5E5E5;
  }
  
  a:hover,
  a:active {
    text-decoration: underline;
  }
}

.menu__title {
  display: block;
  margin-top: 0;
  margin-bottom: 15px;
  color: $yellow;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

p.menu__title {
  margin: 0;
}

.menu__sublist {
  padding: 0;
  margin: 0;
  margin-bottom: 18px;
  padding-left: 25px;
  list-style: disc;
  font-size: 11px;
  line-height: 13px;
  color: #E5E5E5;
}

.menu__subitem {
  margin-bottom: 1px;
}

//----------------------------------------
@media (min-width: 768px) {
  .menu {
    top: 46px;
    width: 367px;
  }
  
  .menu__open {
    width: 36px;
    height: 36px;
  }
  
  .menu__header {
    padding: 10px 20px;
  }
  
  .menu__phone {
    font-size: 16px;
    line-height: 19px;
  }
  
  .menu__item address,
  .menu__sublist {
    font-size: 12px;
    line-height: 14px;
  }
  
  .menu__sublist {
    margin-bottom: 12px;
  }
}

//----------------------------------------
@media (min-width: 1200px) {
  .menu {
    width: 550px;
    border-radius: 41px 0 0 41px;
    
    &--open {
      .menu__phone {
        color: #fff;
        transition: ease-out 0.3s;
        
        &:hover,
        &:active {
          color: $yellow;
          transition: ease-out 0.3s;
        }
      }
    }
  }
  
  .menu__open {
    width: 46px;
    height: 46px;
    font-size: 26px;
  }
  
  .menu__phone {
    font-size: 20px;
    line-height: 23px;
  }
  
  .menu__title {
    font-size: 20px;
    line-height: 23px;
  }
  
  .menu__item address,
  .menu__sublist {
    font-size: 15px;
    line-height: 18px;
  }
  
  .menu__body {
    padding: 25px;
  }
  
  .menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .menu__item {
    width: 47%;
  }
  
  .menu__sublist {
    padding-left: 20px;
  }
  
  .menu__item address {
    padding-left: 0;
  }
  
  .menu__close {
    width: 34px;
    height: 34px;
    
    i {
      line-height: 30px;
    }
  }
}
