.modal {
  padding: 0;
  border-radius: 13px;
  
  .fancybox-close-small {
    top: 16px;
    left: 14px;
    right: auto;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: #4F4F4F;
    border-radius: 50%;
    
    svg {
      fill: #fff;
      stroke: #fff;
      stroke-width: 3px;
      width: 30px;
      height: 30px;
    }
  }
  
  &--service {
    background-color: #4F4F4F;
    
    .modal__header {
      color: $yellow;
      background-color: #4F4F4F;
    }
    
    .fancybox-close-small {
      background-color: $yellow;
    }
  }
}

.modal__header {
  padding: 20px;
  background-color: $yellow;
}

.modal__title {
  margin: 0;
  max-width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.modal__body {
  position: relative;
  padding: 20px 15px;
  padding-bottom: 70px;
  color: #000000;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.modal__subtitle {
  margin-top: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.modal__price {
  position: absolute;
  bottom: 20px;
  left: 15px;
  right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.modal__imgs {
  width: 100%;
  margin-top: 20px;
}

.modal__slide {
  height: 240px;
}

.modal__slide2 {
  height: auto;
}

.modal__slide2,
.modal__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 9px;
  overflow: hidden;
  
  img {
    display: block;
    flex: 0 0 auto;
  }
}

.modal__top {
  padding: 20px 16px;
  background-color: #E5E5E5;
  border-radius: 0 0 20px 20px;
}

.modal__slider2 {
  margin-bottom: 18px;
}

.modal__bottom {
  padding-top: 18px;
  background-color: #4F4F4F;
}

.modal__tags {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.modal__tag {
  width: 160px;
  height: 42px;
  margin-bottom: 10px;
  
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #F3F3F3;
    text-align: center;
    background-color: #838383;
    border-radius: 26px;
    transition: ease-out 0.3s;
    
    &:hover,
    &:active {
      background-color: $yellow;
      transition: ease-out 0.3s;
    }
  }
}
