.order {
  position: relative;
  padding-bottom: 50px;
  background-color: $yellow;
  
  .title {
    font-size: 20px;
    line-height: 23px;
  }
}

.order__img {
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
  
  &::before {
    content: "";
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: -20px;
    right: 0;
    left: 0;
    background-image: url(../img/images/shape-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
  }
  
  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 93%;
    left: 0;
    right: 0;
    transform: skewY(5deg);
    height: 50px;
    background-color: $yellow;
  }
}
