.promo {
  overflow: hidden;
}

.promo__img {
  position: relative;
  z-index: 5;
  background-color: $yellow;
  
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 90%;
    left: 0;
    right: 0;
    transform: skewY(-5deg);
    height: 50px;
    background-color: $yellow;
  }
}

.promo__wrap {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../img/images/bg-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
