.select,
.select__sublist {
  padding: 0;
  margin: 0;
  list-style: none;
}

.select {
  position: relative;
  z-index: 100;
  width: 277px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  
  .search {
    margin-top: 10px;
  }
}

.select__item {
  position: relative;
  margin-bottom: 15px;
}

.select__date,
.select__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 38px;
  max-width: 100%;
  font-size: 13px;
  text-align: center;
  background-color: #E5E5E5;
  border: 2px solid #4F4F4F;
  border-radius: 20px;
  
  &--ok {
    border-color: #6FCF97;
  }
  
  &--error {
    border-color: #CF6F6F;
  }
  
  &--open {
    border-radius: 20px 20px 0 0;
  }
}

.select2-container--default .select2-selection--single {
  width: 100%;
  height: 38px;
  max-width: 100%;
  font-size: 13px;
  text-align: center;
  background-color: #E5E5E5;
  border: 2px solid #4F4F4F;
  border-radius: 20px;
  box-sizing: border-box;
  outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 0;
  line-height: 36px;
  color: #4F4F4F;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #4F4F4F;
}

.select2-container--default .select2-selection--single .select2-selection__rendered,
.select__date {
  color: #4F4F4F;
  
  &::placeholder {
    opacity: 1;
  }
}

.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  color: #4F4F4F !important;
  background-color: #C4C4C4 !important;
}

.select2-dropdown {
  color: #E5E5E5;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  background-color: #4F4F4F;
  border: 2px solid #4F4F4F;
  border-radius: 20px;
}

.select2-search--dropdown {
  padding: 11px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  height: 30px;
  text-align: center;
  border: 0;
  background: #C4C4C4;
  border-radius: 20px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  background-color: #c4c4c4;
  background-image: url(../img/icons/search.svg);
  background-repeat: no-repeat;
  background-size: 14px 16px;
  background-position: right 10px center;
}

.select2-dropdown--below .select2-results .select2-results__option:last-child {
  border-radius: 0 0 16px 16px !important;
}

.select__btn {
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
}

.select__drop {
  display: none;
  width: 100%;
  padding: 11px;
  background-color: #4F4F4F;
  border-radius: 0px 0px 20px 20px;
}

.select__sublist {
  position: relative;
  max-height: 136px;
  overflow-y: auto;
  color: #E5E5E5;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  
  li {
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  li:hover,
  li:active {
    text-decoration: underline;
  }
}

.select__modal {
  position: relative;
  width: 277px;
  max-width: 100%;
  padding: 6px 12px;
  padding-bottom: 47px;
  background-color: #E5E5E5;
  border: 2px solid #4F4F4F;
  border-radius: 20px;
  overflow: hidden;
}

.select__title {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
}

.select__form {
  font-family: "Roboto", "Arial", sans-serif;
}

.select__number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 11px;
}

.select__num {
  display: block;
  width: 24px;
  height: 24px;
  color: #C4C4C4;
  line-height: 20px;
  text-align: center;
  transition: ease-out 0.3s;
  
  &:hover,
  &:active {
    color: #4F4F4F;
    transition: ease-out 0.3s;
  }
}

.select__label {
  width: 169px;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 4px;
  font-size: 10px;
  line-height: 12px;
  color: #fff;
  background-color: #C4C4C4;
  border-radius: 20px;
}

.select__circle {
  width: 24px;
  height: 24px;
  margin-right: 7px;
  font-size: 16px;
  line-height: 19px;
  color: #4F4F4F;
  text-align: center;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.select__input {
  display: block;
  width: 100%;
  height: 30px;
  padding: 4px;
  margin-bottom: 11px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #4F4F4F;
  background-color: #C4C4C4;
  border-radius: 20px;
  
  &::placeholder {
    color: #FFFFFF;
    opacity: 1;
  }
}

textarea.select__input {
  padding: 7px;
}

.select__final {
  position: relative;
  width: 277px;
  max-width: 100%;
  padding: 0;
  background-color: rgba(255,255,255,0);
  overflow: hidden;
}

.select__final-top {
  width: 100%;
  margin-bottom: 38px;
  background-color: #FFC925;
  border: 2px solid #4F4F4F;
  border-radius: 20px;
  overflow: hidden;
}

.select__final-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 38px;
  max-width: 100%;
  font-size: 13px;
  text-align: center;
  background-color: #E5E5E5;
  border: 2px solid #6FCF97;
  border-radius: 20px;
  
  &--error {
    border-color: #CF6F6F;
  }
}

.select__header {
  padding: 15px;
  padding-top: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  
  &--error {
    color: #fff;
    background-color: #FF2525;
  }
}

.select__footer {
  padding: 13px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  
  &--error {
    color: #fff;
    background-color: #FF2525;
  }
}

.select__body {
  position: relative;
  padding: 16px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  text-align: center;
  background-color: #4F4F4F;
  
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 6px;
    background-image: url(../img/icons/card-points-dark.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  &::before {
    top: -3px;
  }
  
  &::after {
    bottom: -3px;
  }
}

.select__route {
  width: 100%;
  padding: 7px;
  margin-bottom: 22px;
  color: #4F4F4F;
  background-color: #FFFFFF;
  border-radius: 20px;
  
  i {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.select__book {
  span {
    font-size: 16px;
    line-height: 19px;
  }
}

//Calender
.ui-datepicker {
  z-index: 100;
  width: 277px;
  font-size: 15px;
  color: #E0E0E0;
  line-height: 18px;
  background-color: #4F4F4F;
  border: 2px solid #4F4F4F !important;
  border-radius: 0px 0px 20px 20px;
}

.ui-datepicker table {
  width: 100%;
}

.ui-datepicker-header {
  font-size: 15px;
  color: #E0E0E0;
  line-height: 18px;
  font-weight: 400;
  border: 0;
  background-color: #4F4F4F;
}

.ui-datepicker th {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}

.ui-datepicker-calendar .ui-state-default {
  width: 24px;
  height: 24px;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #E0E0E0;
  background-color: rgba(255,255,255,0);
  border: 0;
}

.ui-datepicker-calendar .ui-state-active {
  color: #4F4F4F;
  font-weight: normal;
  font-size: 15px;
  border-radius: 50%;
  background-color: #C4C4C4;
}

.select__submit {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1;
  color: #4F4F4F;
  border-radius: 0 0 13px 13px;
  border-top: 2px solid #4F4F4F;
  background-color: $yellow;
  transition: ease-out 0.3s;
  
  &:hover,
  &:active {
    color: #fff;
    background-color: #4F4F4F;
    transition: ease-out 0.3s;
  }
}

//----------------------------------------
@media (min-width: 768px) {
  .select {
    width: 100%;
    display: flex;
  }
  
  .select__list {
    position: relative;
  }
  
  .select__item {
    width: 25%;
    margin-bottom: 0;
    
    &:first-child {
      .select2-container--default .select2-selection--single {
        border-radius: 20px 0 0 20px;
      }
      
      .select2.select2-container.select2-container--default.select2-container--open.select2-container--above .select2-selection.select2-selection--single{
        border-radius:0 0px 0 20px!important
      }


      .select2.select2-container.select2-container--default.select2-container--open.select2-container--below .select2-selection.select2-selection--single{
        border-radius:20px 0px 0 0px!important
      }
    }
    
    &:last-child {
      position: static;
    }
  }
  
  .select2-container--default .select2-selection--single,
  .select__date,
  .select__link {
    height: 52px;
    border-radius: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
  }
  
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
  }
  
  .select__btn {
    margin: 0;
    width: 100%;
    height: 52px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 0 20px 20px 0;
  }
  
  .select__final,
  .select__modal {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }
  
  .select__label {
    width: 318px;
    padding-right: 24px;
    text-align: center;
    font-size: 13px;
    line-height: 15px;
    
    span {
      flex-grow: 1;
    }
  }
  
  .select__modal {
    width: 480px;
  }
  
  .select__final {
    width: 552px;
  }
  
  .select__header {
    font-size: 20px;
    line-height: 23px;
  }
  
  .select__body,
  .select__footer {
    font-size: 16px;
    line-height: 19px;
  }
  
  .select__body {
    padding: 15px 35px;
    
    &::before,
    &::after {
      background-repeat: repeat-x;
    }
  }
  
  .select__final-btn {
    width: 277px;
    margin-left: auto;
    margin-right: auto;
  }
}

//----------------------------------------
@media (min-width: 1200px) {
  .select2-container--default .select2-selection--single .select2-selection__rendered,
  .select__date,
  .select__link,
  .select__btn {
    font-size: 22px;
  }
  
  .ui-datepicker {
    width: 284px;
  }  
}
