.social {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item {
  margin-left: 3px;
  margin-right: 3px;
}

.social__link {
  width: 20px;
  height: 20px;
  display: block;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  color: rgba(255,255,255,0.7);
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,0.7);
  transition: ease-out 0.3s;
  
  i {
    display: block;
    line-height: 20px;
    text-align: center;
  }
  
  &:hover,
  &:active {
    color: #fff;
    border-color: #fff;
    transition: ease-out 0.3s;
  }
}

//----------------------------------------
@media (min-width: 768px) {
  .social__link {
    width: 23px;
    height: 23px;
    line-height: 21px;
    
    i {
      line-height: 23px;
    }
  }
}

//----------------------------------------
@media (min-width: 1200px) {
  .social__link {
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 29px;
    
    i {
      line-height: 32px;
    }
  }
  
  .social__item {
    margin-left: 4px;
    margin-right: 5px;
  }
}
